<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title><%= htmlWebpackPlugin.options.title %></title>
  <meta name="viewport" content="width=device-width, initial-scale=1"><script defer src="main.js"></script></head>
  <body>
    <div data-selector="my-widget-container" data-prop-app-title="Hello Widget Users!">
      <script type="text/props">
        {
          "showBanner": true
        }
      </script>
    </div>
  </body>
</html>
